
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P';;
}

:root {
  --text: #000000;
  --background: #AAD6F3;
  --primary: #7AD954;
  --secondary: #EC1E29;
  --accent: #6E421A;
}
body {
  
  background-color: #AAD6F3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #000000;
  text-align: center;
}

h3 {
  color: #000000;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

button {
  background-color: #7AD954;
  color: white;
  padding: 20px;
  margin: 20px;
  width: 278px;
  font-size: 16px;
  border: solid #000000 5px;
  cursor: pointer;
  align-items: center;
}


button:hover {
  background-color: #45a049;
}

.container {
  background-color: #d3d3d3;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}